@keyframes haneru {
  0% {
    transform: none;
  }
  25% {
    transform: translate3d(0, -10%, 0);
  }
  50% {
    transform: translate3d(0%, 0, 0);
  }
  75% {
    transform: translate3d(0%, -5%, 0);
  }
  100% {
    transform: translate3d(0%, 0, 0);
  }
}

.haneru {
  animation-name: haneru;
  transform-origin: center bottom;
  animation-duration: 0.3s;
}
